body {
  font-family: 'Lato', sans-serif;
  background-color:red;
  width: 1800px;
  padding-bottom: 200px;
}

.nav-wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 92px; 
  }

.nav_item {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-right: 70px;
  margin-bottom: 0px;
  
  }

.nav_item:last-child {
  margin-right: 0;
}

.nav_item:hover {
  color: greenyellow;
  text-decoration: none;
  font-weight: 600;
}

.nav_item:active {
  color: red;
}

header {
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 215px;
  margin-bottom: 230px; 
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  line-height: 100px;
  letter-spacing: 0.57px;
  text-align: center;
}

header p {
  font-size: 16px;
  color: #999999;
  text-align: center;
  line-height: 30px;
  
}

.reviews {
  width: 260px;
  margin-left: 180px;
}

.reviews_title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: black;
  margin-bottom: 45px;
}

.reviews-item {
  position: relative;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;  
  padding-bottom: 10px;
}

.reviews-item ::before {
  position: absolute;
  left: -18px;
  content: '';
  display: block;
  width: 36px;
  height: 29px;
  background-image: url(../src/images/kov.png);
  background-position: center;
  background-repeat:no-repeat;
  z-index: -1;
}

.reviews_cite {
  font-size: 16px;
  color: #999999;
  line-height: 31px;
  font-style: italic;
  margin-bottom: 10px;
}

.reviews_author {
  font-size: 16px;
  font-weight: 900;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  align-items: flex-start;
}

.videos {
  margin-right: 180px;
}

.video_title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.video_item  {
  margin-top: 35px;
  position: relative;
  overflow: hidden;
}

.play_icon {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.play_icon::before {
  position: absolute;
  bottom: 40%;
  right: 40%;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5.5px solid transparent;
  border-left: 8px solid black;
  border-bottom: 5.5px solid transparent;
}

.video_item .play_icon {
  position: absolute;
  left: -10px;
  bottom: -15px;
}

.videos-center  {
  position: relative;
}

.videos-center .play_icon {
  position: absolute;
  left: 24px;
  bottom: 32px;
}

.container {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.header-1 {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  letter-spacing: 0.41px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 95px;
}

.instructor-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 255px;
}

.instructor_name {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.31px;
}

.instructor-photo {
  margin-bottom:  35px;
}

.instructor {
  text-align: center;
  margin-bottom: 10px;
}

.instructor_students {
  color: #2ab738;
  line-height: 0.14px;
  font-weight: 500px;
  letter-spacing: 0.31px;
  font-size: 15px;
  margin-top: 20px;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}

.blog-item:nth-last-child(odd) {
  flex-direction: row-reverse;
}

.blog-item:last-child {
  margin-bottom: 250px;
}

.blog-item_img {

}

.blog-item-content {
  width: 450px;
}

.blog-item_header {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 0.33px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.blog-item_desc {
  color: #444444;
  font-size: 400; 
  line-height: 1.9;
  letter-spacing: 0.06px; 
  margin-bottom: 50px;

}

.blog-item_readmore {
  display: inline-block;
  height: 52px;
  border: 1px solid #e5e5e5;
  padding: 16px 30px 0;
  line-height: 1;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06px;
  text-decoration: none;
}

.blog-item_readmore:hover {
  text-decoration: none;
  background-color: #41475b;
  color: skyblue;
}

.button {
  display: inline-block;
  height: 56px;
  line-height: 1;
  padding: 18px 45px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #41475b;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.button:hover {
  text-decoration: none;
  background-color: #000;
  color: #FFF
}

.text-center {
  text-align: center;
}